\#*\#
.DS_Store
*.pyc 
.svn
*.dl_o
*.dl_og
*.o
*.o_ndebug
*.a
*.og
*.op
*.so
*.sog
*.sop
*~
*.d
*.dd
*.exe
*.swp
*.bak
#*
*.dSYM/
depend
tags
x86_64-Linux/
ix86-Linux/
ix86Mac-darwin/
ix86-Win/
config.h
config.log
config.status
config.cache
stamp-h
.qt/.*.lock
.vim/tags/*.ctags
.vim/viminfo
.xmonad/history
.xmonad/xmonad
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.zsh/titan
.virtualenvs/
GNUmakefile
*/Makefile
*/makefile
mod2.h
misc/auxiliary.h
MP/MP/MP_Config.h
MP/MP/h/values.h
Singular/confdefs.h
Singular/Singular.rc
doc/NTL
doc/uname.texi
doc/version.texi
libfac/factor/version.h
modules/include/config.h
omalloc/omConfig.h
omalloc/omExternalConfig.h
omalloc/omMalloc.h
omalloc/omlimits.h
omalloc/omTables
omalloc/omTables.h
omalloc/omTables.inc
omalloc/omalloc.h
factory/cf_gmp.h
factory/factory.h
factory/factoryconf.h
factory/gen_cf_gmp.sh
ntl/setup1
ntl/setup3
ntl/setup4
ntl/src/cfileout
ntl/src/mfileout
ntl/src/MakeDesc
ntl/src/gen_gmp_aux
ntl/src/gen_lip_gmp_aux
ntl/include/NTL/config.h
ntl/include/NTL/gmp_aux.h
ntl/include/NTL/mach_desc.h
