#### -*- Mode: tab-width: 2; indent-tabs-mode: nil -*- 
#### Vi-modeline: vim: shiftwidth=2:tabstop=8:textwidth=0:expandtab
[alias]
  au = add -u
  ai = add --interactive
  ap = add --patch
  ba = branch -a
  br = branch
  bl = blame --reverse
  ca = commit -a -v
  ci = commit -v
  cl = clone
  co = checkout
  cp = cherry-pick
  cx = cherry-pick -x
  ed = commit --amend -v
  dns = diff --name-status --patience
  df = diff --color-words -M20 -C -B --find-copies-harder --patience 
  dfs = diff --color-words --stat -M20 -C -B --find-copies-harder --patience 
  dc = diff --color-words --cached --patience 
  dcs = diff --color-words --cached --stat -M20 -C -B --find-copies-harder --patience
  g  = grep
  gc  = grep --cached
  gp  = grep
  gpc  = grep --cached
  ls = ls-files
  lu = ls-files -u
  lm = ls-files -m
  lg = log --pretty=short --graph
  lgs = log --pretty=short --graph --stat
  lga = log --pretty=short --graph --all
  lgas = log --pretty=short --graph --all --stat -M20 -C -B --find-copies-harder
  lg1a = log --pretty=oneline --graph --all
  lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ld = log --follow --long_deleted_file
  ldd = log --diff-filter=CDR --pretty=short --stat -M20 -C -B --find-copies-harder --
  lp = log --pretty=format:'%h on %ci by %an: \"%s\"' --abbrev-commit
  mt = mergetool
  pd = diff -M20 -C -B --find-copies-harder --patience -p
  pf = format-patch --patience -M20 -C -B --find-copies-harder --summary
  s  = stash
  sp = stash pop
  si = svn dcommit
  sh = show --color-words  --patience
  shs = show --color-words --stat -M20 -C -B  --patience
  sr = svn rebase
  st = status
  ss = status --short
  su = status -uno
  pr = pull --rebase
  ra = rebase --abort
  ri = rebase --interactive
  rc = rebase --continue
  ro = rebase --onto 
  rst = reset HEAD
  rp = reset --patch
  r  = remote
  ru = remote update
  uc = reset --soft HEAD^
  undo = reset --hard
  who = shortlog -s --
  incoming = !git-incoming
  outgoing = !git-outgoing
  addremove = !git-addremove
  wtf = !git-wtf -a -l
  costats = shortlog -s -n --no-merges
  who = shortlog -s --
  publish = !git-publish-branch
  mergefrom = !git-mergefrom
  push-branch = !git-push-branch
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  k = !gitk
#  graphviz_master = !git graphviz --first-parent master | dotty /dev/stdin #
# add commit messages? stats?
[user]
	email = http://goo.gl/mcpzY
  name = malex984
[merge]
  tool = extMerge
#	tool = kdiff3
  conflictstyle = diff3
  summary = true
  log = true
  stat = true
  verbosity = 4
[mergetool "extMerge"]
  cmd = ~/bin/extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
  trustExitCode = false
[rebase]
  stat = true
#[core]
#  editor = vim
#### http://nathanhoad.net/how-to-colours-in-git
#### http://shallowsky.com/blog/programming/gitcolors.html
[color]
  ui = auto
  wtf = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  plain = normal blink
  meta = yellow
  frag = magenta ul
  old = red bold
  new = cyan bold
  whitespace = normal red
  commit = blue bold
# whitespace = red reverse bold
[color "status"]
#  header = normal blink
#  added = magenta yellow
#  updated = green reverse
#  changed = red bold
#  untracked = blue white
#  nobranch = red white bold
  header = normal blink
  added = cyan bold
  updated = green bold
  changed = green
  untracked = red dim
  nobranch = yellow dim 
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf = false
  excludesfile = ~/.gitignore
[branch]
  autosetupmerge = true
[push]
  default = matching
[diff]
   renames = true
#  external = extDiff
#[diff "odf"]
#  textconv=odt2txt
[diff "tex"]
	xfuncname = "^(\\\\(sub)*section\\{.*)$"
[github]
	user = malex984
[filter "myid"]
	smudge = myid
	clean = perl -pe \"s/\\\\\\$Id[^\\\\\\$]*\\\\\\$/\\\\\\$Id\\\\\\$/\"
[guitool "pr"]
	cmd = git pull --rebase $ARGS
	argprompt = yes
