#### -*- Mode: tab-width: 2; indent-tabs-mode: nil -*- 
#### Vi-modeline: vim: shiftwidth=2:tabstop=8:textwidth=0:expandtab
[alias]
  au = add -u
  ai = add --interactive
  ap = add --patch
  ba = branch -a
  br = branch
  ca = commit -a
  ci = commit
  cl = clone
  co = checkout
  ed = commit --amend
  df = diff --color-words
  dc = diff --color-words --cached
  lu = ls-files -u
  lm = ls-files -m
  lg = log --pretty=short --graph
  lga = log --pretty=short --graph --all
  lg1a = log --pretty=oneline --graph --all
  lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  si = svn dcommit
  sh = show --color-words
  sr = svn rebase
  st = status
  pr = pull --rebase
  ri = rebase --interactive
  rc = rebase --continue
  ro = rebase --onto 
  ru = remote update
  uc = reset --soft HEAD^
  ui = reset HEAD
  who = shortlog -s --
  incoming = !git-incoming
  outgoing = !git-outgoing
  addremove = !git-addremove
  wtf = !git-wtf -a -l
  costats = shortlog -s -n --no-merges 
  publish = !git-publish-branch
  mergefrom = !git-mergefrom
  push-branch = !git-push-branch
[user]
  email = malex984@googlemail.com  
  name = malex984
[merge]
  conflictstyle = diff3
  summary = true
#[core]
#  editor = vim
[color]
  ui = auto
  wtf = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  autocrlf = false
  excludesfile = ~/.gitignore
[branch]
  autosetupmerge = true
[push]
  default = matching
#[diff "odf"]
#  textconv=odt2txt
